* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.gb-orange {
  background: #C9453B;
  border-radius: 5px;
  font-size: 16px;
  color: #FFFFFF;

}

.ff-gelassio {
  font-family: 'Gelasio', serif;
  font-weight: 500;
}

.inner-title {
  font-size: 43px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 20px;
}

.inner__subtitle {
  opacity: 0.6;
  text-align: center;
}


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}

.header {
  background: rgba(0, 0, 0, 0.3) url(../images/header-bg.jpg) no-repeat center;
  block-size: cover;
  padding: 35px 0px 244px 0px;
}

.container {
  max-width: 1145px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu__list+.menu__list {
  margin-left: 50px;
}

.header__logo {
  font-family: 'Ribeye', cursive;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

/* урок 2 */

.header-btn {
  display: block;
  width: 163px;
  padding: 14px 0 13px 0;
  text-align: center;
  transition: all 0.3s ease;
}

.header-btn:hover {
  opacity: 0.8;
}

.header-bottom {
  margin-top: 200px;
}

.header__bottom-title {
  font-family: 'Gelasio', serif;
  font-weight: 700;
  font-size: 65px;
  line-height: 78px;
  width: 804px;
  color: #fff;
}

.header__bottom-text {
  color: #FFFFFF;
  opacity: 0.6;
  width: 458px;
  margin: 30px 0 40px 0;
}

.header__bottom-link {
  width: 187px;
  display: block;
  text-align: center;
  padding: 18px 0 17px 0;
  transition: all 0.3s ease;
}

.header__bottom-link:hover {
  opacity: 0.8;
}

/* Урок 3 */
/*  section location */
/* короткая запись p140px0 */
.location {
  padding: 140px 0;
}

.location-subtitle {
  width: 735px;
  margin: 0 auto;
}

.location-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.location-block {
  width: 360px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  transition:0.5s;
}
/* оригинал   box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08); */
.location-block:hover{
  box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.4);
}

.location-block-title {
  font-size: 24px;
  line-height: 150%;
  margin: 35px 0 10px 0;
}

/* короткая запись p0-27-33-37+tab */
.location-block:first-child .location-block-text {
  padding: 0 27px 33px 27px;
  opacity: 0.6;
}

/*  */
.location-block:nth-child(2) .location-block-text {
  padding: 0 34px 33px 37px;
  opacity: 0.6;
}

.location-block:last-child .location-block-text {
  padding: 0 13px 33px 13px;
  opacity: 0.6;
}
/* end location */
/* Урок 4 */

/* section slider */

.slider {
  padding-bottom: 57px;
}

.slider-subtitle {
  width: 656px;
  margin: 0 auto 60px auto;
}

/* .sliders {
  /* display: flex; } */

.sliders__block-wrapp{
  width: 262px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.5;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -ms-transition: 0.5;
  -o-transition: 0.5;
}

.sliders__block-wrapp:hover{
  opacity: 0.5;
}

.sliders__block-title {
  font-size: 24px;
  line-height: 36px;
  margin: 20px 0 8px 0;
}

.sliders__block-loc {
  padding-left: 21px;
  /* background: aqua; */
  color: #00000060;
  position: relative;
}
/* вставляем иконку с помощью before */
.sliders__block-loc::before{
  content: '';
  position: absolute;
  left: 0;
  top:50%;
  width: 11px;
  height: 16px;
  background: url(../images/Special_Offers/svg/loc.svg) no-repeat center;
  transform: translateY(-50%);
}
/* добавляем иконку с помощью background */
.sliders__block-stars {
  padding-left: 34px;
  background: url(../images/Special_Offers/svg/Star.svg) no-repeat left center;
  margin-left: 50px;
}

p.siders__block-booking {
  margin: 8px 0 8px 8px;
  color: #00000060;
}

.sliders__block-price{
  font-weight: 500;
}
.sliders__block-price span {
  color: #00000060;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/* https://jquery.com/download/ адресс страницы с jquery */
/* https://kenwheeler.github.io/slick/ так же для слайдера 
  https://github.com/kenwheeler/slick/blob/master/slick/slick.min.js
  https://raw.githubusercontent.com/kenwheeler/slick/master/slick/slick.css
*/

.btn-slider{
  position: absolute;
}

